<%= form_for(@progress) do |f| %>
  <% if @progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
      <% @progress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :student_name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.text_field :goal %>
  </div>
  <div class="field">
    <%= f.label :goal_month %><br>
    <%= f.text_field :goal_month %>
  </div>
  <div class="field">
    <%= f.label :goal_week %><br>
    <%= f.text_field :goal_week %>
  </div>
  <div class="field">
    <%= f.label :progress_date %><br>
    <%= f.datetime_select :progress_date %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :progress %><br>
    <%= f.number_field :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
